node_modules
npm-debug.log
.git
.gitignore
README.md
DEPLOYMENT.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.nyc_output
.github
azure-pipelines.yml
buildspec.yml
.ebextensions
Dockerfile
.dockerignore 